/* Element / <Item> -> li */
.item {
    background: salmon;
    padding: 30px 50px;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
}

/* Emoji / <Item> -> span */
.emoji {
    display: block;
    margin-bottom: 42px;
    font-size: 32px;
    transition: transform .4s;
}

.emoji.zoomed{
    transform: scale(2);
}

/* Button / <Item> -> button */
.btn {
    background: transparent;
    border: solid 1px;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    color: white;
    transition:
        background 0.3s,
        color 0.3s;
}

.btn:hover {
    color: salmon;
    background: white;
}