.section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 auto;
    padding: 8px 0 12px;
    background: var(--color-white);
    border-radius: 8px;
    border: solid 1px var(--color-border);
    width: 100%;
    padding: 24px;
}
